<header>
  <nav class="navbar navbar-inverse bg-inverse" *ngIf="!isUserLoggedIn">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          File Management
        </a>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" *ngIf="isUserLoggedIn">
    <div class="container">
      <a class="navbar-header navbar-brand" [routerLink]="['/home']">File Management</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()" *ngIf="!isUserLoggedIn">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/home']">Home</a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/logout']">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
